@import "bootstrap/scss/bootstrap.scss";
// VARIABLES AND VARIABLE OVERRIDES
$primary: #041866;


// BODY STYLES

.sv_logo__image {
  @extend .img-fluid
}

.sv_main .sv-title-actions__title {
  flex-wrap: wrap;
  max-width: 90%;
  min-width: 0 !important;
}

.panel-heading.card-header {
  background-color: $primary;
  color: white;
}

.card-footer {
  padding: 0.5rem 1rem;
  border-top: 0 !important;
  background: none;
}

.small {
  margin-left: 20px;
}

.sv-q-col-1 {
  padding: 6px;
}

.recommendations {
  display: flex;
  flex-wrap: wrap;
}

// BUTTONS

.sv_prev_btn {
  @extend .btn-secondary;
  padding: 1.2rem;
  width: 200px;
  margin-right: 20px;
}

.sv_next_btn {
  @extend .btn-primary;
  padding: 1.2rem;
  width: 200px;
  background-color: #fe700c;
  border-color: #fe700c;

  &:hover {
    background-color: #fe8530;
    border-color: #fe700c;
  }
}

.sv_complete_btn {
  @extend .btn-sucess;
  padding: 1.2rem;
  width: 200px;
  margin-right: 20px;
}

// CARD
.card {
  width: 18rem;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;

  .card-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

//BADGE

.badge {
  &.match-high {
    background-color: $success;
  }

  &.match-medium {
    background-color: $gray-700;
  }

  &.badge-primary {
    background-color: $primary;
  }
}

// FORM

.form-control {
  padding: 1rem;
  border: 2px solid $secondary;

  &:focus {
    border: 2px solid $primary;
    box-shadow: none;
  }
}

.progress {
  width: 100% !important;

  span {
    display: none !important;
  }

  .progress-bar {
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: $primary;
  }
}

// FORM/RADIO

.radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid $secondary;
  background-color: $gray-200;
  border-radius: 5px;
  margin-top: 10px;
  tab-index: 0;

  input {
    opacity: 0;
  }

  label {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $black;
    width: 100%;
    padding: 1.5rem;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }

  &.sv-q-col-1 {
    padding: 0;
  }

  &.checked {
    background-color: $primary;
    border: 2px solid $primary;
    color: white;

    label {
      color: white;
      background-color: $primary;
    }

    &:hover {
      background-color: $primary;
    }
  }

  &:hover {
    border: 2px solid $primary;
    background-color: $white;
  }

  &:focus {
    border: 2px solid $primary;
  }
}